<div
  class="modal fade"
  id="modalDeleteData"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">
          Peringatan
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Apakah Kamu yakin akan menghapus data tersebut...?
      </div>
      <div class="modal-footer">
        <a
          href="{% url 'contact:delete' data.model.id %}"
          class="btn btn-primary"
          >Iya</a
        >
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Tidak
        </button>
      </div>
    </div>
  </div>
</div>
