{% extends "base.html" %}

<div>{% block apps %}</div>
<div>{% include "components/navbar/index.html" %}</div>

<div class="container-fluid">
  <form class="g-3" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card border-primary">
      <div class="card-header text-bg-primary">
        <div class="row row-cols-auto">
          <div class="h3 col me-auto">New Kontak</div>
          <div class="col">
            <button type="submit" class="btn btn-outline-light me-3">
              {% include "components/svg_save.html" %}
            </button>
            <button type="reset" class="btn btn-outline-light">
              {% include "components/svg_reset.html" %}
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <div class="mb-2">
                {{data.name.label}} <span class="text-danger">*</span>
              </div>
              {{data.name}}
              <div class="text-danger">{{data.name.errors}}</div>
            </div>

            <div class="mb-3">
              <div class="mb-2">
                {{data.phone.label}} <span class="text-danger">*</span>
              </div>
              {{data.phone}}
              <div class="text-danger">{{data.phone.errors}}</div>
            </div>

            <div class="mb-3">
              <div class="mb-2">
                {{data.email.label}} <span class="text-danger">*</span>
              </div>
              {{data.email}}
              <div class="text-danger">{{data.email.errors}}</div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <div class="mb-2">{{data.gender.label}}</div>
              {{data.gender}}
              <div class="text-danger">{{data.gender.errors}}</div>
            </div>

            <div class="mb-3">
              <div class="mb-2">{{data.birthday.label}}</div>
              {{data.birthday}}
              <div class="text-danger">{{data.birthday.errors}}</div>
            </div>

            <div class="mb-3">
              <div class="mb-2">{{data.picture.label}}</div>
              {{data.picture}}
              <div class="text-danger">{{data.picture.errors}}</div>
            </div>
          </div>
        </div>

        <div class="mb-2">{{data.address.label}}</div>
        {{data.address}}
        <div class="text-danger">{{data.address.errors}}</div>
      </div>
    </div>
  </form>
</div>
<div>{% endblock apps %}</div>
