{% extends "base.html" %}

<div>{% block apps %}</div>
<div>{% include "components/navbar/index.html" %}</div>

<div class="container-fluid">
  <form class="g-3" method="post">
    {% csrf_token %}
    <div class="card border-primary">
      <div class="card-header text-bg-primary">
        <div class="row row-cols-auto">
          <div class="h3 col me-auto">Edit Kontak</div>
          <div class="col">
            <button type="submit" class="btn btn-outline-light me-3">
              {% include "components/svg_save.html" %}
            </button>
            <button type="reset" class="btn btn-outline-light">
              {% include "components/svg_reset.html" %}
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col">
            <div class="mb-2">
              {{form.nama.label}} <span class="text-danger">*</span>
            </div>
            {{form.nama}}
            <div class="text-danger">{{form.nama.errors}}</div>
          </div>
          <div class="col">
            <div class="mb-2">
              {{form.email.label}} <span class="text-danger">*</span>
            </div>
            {{form.email}}
            <div class="text-danger">{{form.email.errors}}</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="mb-2">
              {{form.gender.label}} <span class="text-danger">*</span>
            </div>
            {{form.gender}}
            <div class="text-danger">{{form.gender.errors}}</div>
          </div>
          <div class="col">
            <div class="mb-2">
              {{form.phone.label}} <span class="text-danger">*</span>
            </div>
            {{form.phone}}
            <div class="text-danger">{{form.phone.errors}}</div>
          </div>
        </div>
        <div class="mb-3">
          <div class="mb-2">{{form.alamat.label}}</div>
          {{form.alamat}}
          <div class="text-danger">{{form.alamat.errors}}</div>
        </div>
      </div>
    </div>
  </form>
</div>
<div>{% endblock apps %}</div>
