<div class="h3 my-2 mb-3">Start Bootstrap</div>
<div class="list-group list-group-flush">
  <a href="#" class="list-group-item">Dashboard</a>
  <a href="#" class="list-group-item">Menu 1</a>
  <a href="#" class="list-group-item">Menu 2</a>
  <a href="#" class="list-group-item">Menu 3</a>
  <a href="#" class="list-group-item">Menu 4</a>
  <a href="#" class="list-group-item">Menu 5</a>
  <a href="#" class="list-group-item">Menu 6</a>
  <a href="#" class="list-group-item">Menu 7</a>
  <a href="#" class="list-group-item">Menu 8</a>
  <a href="#" class="list-group-item">Menu 9</a>
  <a href="#" class="list-group-item">Menu 10</a>
  <a href="#" class="list-group-item">Menu 11</a>
  <a href="#" class="list-group-item">Menu 12</a>
  <a href="#" class="list-group-item">Menu 13</a>
  <a href="#" class="list-group-item">Menu 14</a>
</div>
